.modal-message-container{
    width: 100%;
    height: auto;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    animation: 1.5s ease forwards;

    p{
        display: inline;
        padding: 8px 15px;
        color: white;
        font-family: poppins;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,.3);
    }

    #error-message{
        background: rgb(255, 89, 89);
    }

    #success-message{
        background: rgb(62, 170, 62);
    }

    
}

@keyframes hideerror {
    to{
        top: -100px;
    }
    
}

header{
    width: 100%;
    height: 60px;
    font-size: 1rem;
    position: fixed;
    box-sizing: border-box;
    padding: 0px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 1px 0px 10px 1px rgba(0,0,0,.2);
    z-index: 9;
    top: 0;
    left: 0;
    // opacity: 0;

    .logo{
        height: 30px;
        min-width: 30px;
        background: black;
        width: auto;

        img{
            max-height: 100%;
        }
    }

    .header-links{
        width: auto;
        height: 30px;
        font-size: 1.2rem;
        position: relative;
        // border: 1px solid red;

        ul{
            list-style: none;
            display: flex;

            li{
                // border: 1px solid black;

                a{
                    color: black;
                    padding: 5px 15px;
                    position: relative;
                    cursor: pointer;

                    span:not([id="notification-counter"]){
                        margin-left: 5px;
                        font-size: 0.7rem;
                    }

                    span[id="notification-counter"]{
                        position: absolute;
                        background: red;
                        color: white;
                        text-decoration: none;
                        display: inline-block;
                        box-sizing: border-box;
                        padding: 0 5px;
                        font-size: 0.7rem;
                        border-radius: 10px;
                        right: 0;
                        display: none;
                    }
                }

                a:hover{
                    color: rgb(94, 93, 93);
                }
            }

            li:not(:first-child){
                margin-left: 10px;
            }
        }

        .header-settings-link{
            min-width: 200px;
            height: 0px;
            background: white;
            position: absolute;
            right: 0;
            top: 48px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
            font-size: 0.94rem;
            overflow: hidden;
            transition: 1s ease all;

            ul{
                display: block;

                li{
                    margin-left: 0px;

                    a{
                        width: 100%;
                        text-decoration: none;
                    }

                    a:hover{
                        margin-left: 5px;
                        transition: 0.7s ease all;
                    }

                    
                }
            }

        }

        .header-notification-link{
            min-width: 350px;
            height: 0px;
            background: white;
            position: absolute;
            right: 60%;
            top: 48px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
            font-size: 0.94rem;
            overflow: hidden;
            transition: 1s ease all;
            
            #notification-details{
                width: 100%;
                
                .notification-animation{
                    width: 100%;
                    height: 400px;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    
                    .fa-spinner{
                        font-size: 1.5rem;
                    }
                }
                
                .notification-content{
                    display: flex;
                    padding: 10px;
                    box-sizing: border-box;
                    width: 100%;
                    height: auto;

                    .notification-image{
                        width: 50px;
                        min-width: 50px;
                        height: 50px;
                        
                        img{
                            min-width: 100%;
                        }
                    }

                    .notification-text{
                        width: auto;
                        margin-left: 5px;

                        .description{
                            font-size: 0.68rem;
                            text-align: justify;
                        }

                        .timestamp{
                            font-family: poppinsitalics;
                            font-size: 0.6rem;
                            text-align: right;
                        }
                    }
                }

                #new-notification{
                    background: rgb(244, 244, 247);
                }
                
                .no-notification{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    max-height: 400px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

nav{
    width: 20%;
    min-width: 250px;
    max-width: 300px;
    min-height: calc(100vh - 60px);
    height: 100%;
    position: fixed;
    z-index:  99;
    left: 0px;
    box-shadow: 3px 7px 10px 1px rgba(0,0,0,.2);
    background: white;
    border-top: 1px solid rgb(209, 208, 208);
    transition: 1s ease all;

    .nav-button{
        position: relative;
        width: 100%;
        height: auto;

        button{
            box-sizing: border-box;
            background: white;
            position: absolute;
            right: -32px;
            padding: 5px 10px;
            border-right: 1px solid rgb(187, 186, 186);
            border-bottom: 1px solid rgb(187, 186, 186);
            cursor: pointer;
            border-radius: 0px;
        }
    }

    .nav-image{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .profile-image{
            width: 100px;
            height: 100%;
            // border: 1px solid black;
            border-radius: 50%;
            overflow: hidden;
            background: rgb(233, 230, 230);
            box-shadow: 0px 0px 10px 1px rgba(0,0,0,.2);

            img{
                max-width: 100%;
            }
        }
    }

    .nav-profile{
        width: 100%;
        margin-top: 10px;
        text-align: center;

        a{
            text-decoration: none;
            color: black;
        }

        a:hover{
            color: rgb(58, 57, 57);
        }

    }

    .nav-links{
        width: 100%;
        height: auto;
        margin-top: 20px;

        ul{
            list-style: none;

            li{
                margin-left: 5vw;

                a{
                    text-decoration: none;
                    color: black;
                }

                a#active{
                    color: rgb(2, 2, 92);
                }

                a:not([id="active"]):hover{
                    color: rgb(58, 57, 57);
                    margin-left: 6px;
                    transition: 0.8s ease all;
                }
            }

            button{
                border: 1px solid rgb(185, 182, 182);
                box-sizing: border-box;
                padding: 1px 3px;
                color: rgb(122, 120, 120);
            }
        }

        .dropdown-container{

            .dropdown-links{
                // border: 1px solid black;
                margin-left: 22px;
                margin-top: 5px;
                overflow: hidden;
                max-height: 0px;
                transition: 1s ease all;

                li{
                    animation: 1s ease forwards;
                    opacity: 0;
                }

                @keyframes fadein {
                    to{
                        opacity: 1;
                    }
                }

                @keyframes fadeout {
                    to{
                        opacity: 0;
                    }
                }

                li:not(:first-child){
                    margin-top: 5px;
                }
            }
        }

        ul:not(:first-child){
            margin-top: 20px;
        }
    }
}